.hero{
    width: 100vw;
    height: 400px;
    background-image: url('https://image.winudf.com/v2/image/Y29tLmJsYWNrYmFja2dyb3VuZHdhbGxwYXBlcnNpbWFnZXNfc2NyZWVuXzJfMTUwOTI1MjEyOV8wOTU/screen-2.jpg?fakeurl=1&type=.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    color: white;
    margin: 0;
    font-size: 90px;
}
.cardBlock{
    width: 80vw;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 50px;
}